* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    text-align: center;
    background-color: #333;

}

a {
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto, Arial';
    font-size: 14px;
    padding-left: 10px;
}
