* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


/* Body */

.header-wrapper {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 32px;
}

.row {
    justify-content: space-between;
    display: flex;
}

.header-logo {
    width: 108px;
}

.all-courses {
    display: flex;
    border: 1px solid #000;
    border-radius: 100px;
    padding: 10px;
    padding-right: 20px;
    margin-top: -5px;
}

.all-courses:hover {
    background: #3f2aff;
    color: #fff;
    border-color: #3f2aff;
}

.courses {
    background: transparent;
    cursor: pointer;
    position: relative;
}

.courses-text {
    margin-left: 5px;
}

.navigation {
    margin-top: 10px;
}

.navbar {
    display: flex;
}

ul {
    list-style-type: none;
}

.home,
.web,
.media,
.company,
.enter {
    margin-left: 50px;
    border-radius: 50px;
    padding: 10px;
}

.home:hover,
.web:hover,
.media:hover,
.company:hover,
.enter:hover {
    background: #f8f9fa;
    transition: .2s ease-in;
}

a {
    text-decoration: none;
    color: #000;
}

.home {
    cursor: default;
}

.web {
    cursor: default;
}

.arrow {
    font-weight: 700;
    font-size: 16px;
    transform: rotate(90deg);
}

.middle-container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: flex;
}

.platform {
    font-size: 64px;
    font-weight: 800;
}

.row-choice {
    position: relative;
    top: 60px;
    display: flex;
    flex-wrap: wrap;
}

.choice-head {
    font-size: 20px;
}

.courses-choice {
    max-width: 100%;
    flex-wrap: wrap;
    display: flex;
}

.programms {
    border: 1px solid #000;
    border-radius: 50px;
    padding: 10px;
    font-size: 20px;
}

.programms:hover {
    background: #3f2aff;
    border-color: #3f2aff;
    color: #fff;
    transition: .2s ease-in;
}

.design {
    border: 1px solid #000;
    border-radius: 50px;
    padding: 10px;
    font-size: 20px;
}

.design:hover {
    background: #3f2aff;
    border-color: #3f2aff;
    color: #fff;
    transition: .2s ease-in;
}

.marketing {
    border: 1px solid #000;
    border-radius: 50px;
    padding: 10px;
    font-size: 20px;
}

.marketing:hover {
    background: #3f2aff;
    border-color: #3f2aff;
    color: #fff;
    transition: .2s ease-in;
}

.control {
    border: 1px solid #000;
    border-radius: 50px;
    padding: 10px;
    font-size: 20px;
}

.control:hover {
    background: #3f2aff;
    border-color: #3f2aff;
    color: #fff;
    transition: .2s ease-in;
}

.games {
    border: 1px solid #000;
    border-radius: 50px;
    padding: 10px;
    font-size: 20px;
}

.games:hover {
    background: #3f2aff;
    border-color: #3f2aff;
    color: #fff;
    transition: .2s ease-in;
}

.multimedia {
    border: 1px solid #000;
    border-radius: 50px;
    padding: 10px;
    font-size: 20px;
}

.multimedia:hover {
    background: #3f2aff;
    border-color: #3f2aff;
    color: #fff;
    transition: .2s ease-in;
}

.business {
    border: 1px solid #000;
    border-radius: 50px;
    padding: 10px;
    font-size: 20px;
}

.business:hover {
    background: #3f2aff;
    border-color: #3f2aff;
    color: #fff;
    transition: .2s ease-in;
}

.psycho {
    border: 1px solid #000;
    border-radius: 50px;
    padding: 10px;
    font-size: 20px;
}

.psycho:hover {
    background: #3f2aff;
    border-color: #3f2aff;
    color: #fff;
    transition: .2s ease-in;
}

.other {
    border: 1px solid #000;
    border-radius: 50px;
    padding: 10px;
    font-size: 20px;
}

.other:hover {
    background: #3f2aff;
    border-color: #3f2aff;
    color: #fff;
    transition: .2s ease-in;
}

.list {
    margin-right: 10px;
    margin-top: 30px;
}

.promo {
    width: 368px;
    height: 314px;
    z-index: 1;
}

.container-after {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-radius: 12px;
}

.middle-text {
    font-size: 34px;
    width: 75%;
}

.middle-count-row {
    display: flex;
}

.first {
    margin-top: 100px;
    font-size: 62px;
    font-weight: 600;
}

.first-text {
    font-size: 24px;
    font-weight: 300;
}

hr {
    border: 1px solid #000;
    width: 250px;
    margin-top: 20px;
}

.second {
    margin-top: 100px;
    margin-left: 30px;
    font-size: 62px;
    font-weight: 600;
}

.second-text {
    font-size: 24px;
    font-weight: 300;
}

.third {
    margin-top: 100px;
    margin-left: 30px;
    font-size: 62px;
    font-weight: 600;
}

.third-text {
    font-size: 24px;
    font-weight: 300;
}

.platform-text {
    font-size: 32px;
    margin-top: 100px;
    position: relative;
}

.figure {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 7px;
    margin-right: 2px;
    background-repeat: no-repeat;
    transform: translateY(2px);
    background: url(../img/figure.svg);
}

.banner-row {
    margin-top: 100px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.banner-1 {
    background-color: #3f2aff;
    width: 48%;
    height: 450px;
    border-radius: 30px;
    cursor: pointer;
}

.banner-head-1 {
    text-align: center;
    font-size: 32px;
    color: #e3e3e3;
    margin-top: 200px;
}

.banner-text-1 {
    text-align: center;
    color: #e3e3e3;
    margin-top: 20px;
    line-height: 23px;
}

.banner-button-1 {
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 10px;
    margin-top: 50px;
    width: 200px;
    margin-left: 170px;
}

.banner-button-1:hover {
    background-color: #000;
    border: 1px solid #000;
}

.banner-button-text-1 {
    color: #e3e3e3;
    text-align: center;
}

.banner-button-text-1:hover {
    color: #fff;
}

.banner-2 {
    background-color: #febcb4;
    width: 49%;
    height: 450px;
    border-radius: 30px;
    margin-left: 3%;
    cursor: pointer;
}

.banner-head-2 {
    text-align: center;
    font-size: 32px;
    color: #000;
    margin-top: 200px;
}

.banner-text-2 {
    text-align: center;
    color: #000;
    margin-top: 20px;
    line-height: 23px;
}

.banner-button-2 {
    border: 1px solid #000;
    padding: 15px;
    border-radius: 10px;
    margin-top: 70px;
    width: 200px;
    margin-left: 170px;
}

.banner-button-2:hover {
    background: #000;
    color: #fff;
    border: 1px solid #000;
    transition: .2s ease-in;
}

.banner-button-text-2 {
    text-align: center;
}

.banner-3 {
    background-color: #74f7b9;
    width: 48%;
    height: 450px;
    border-radius: 30px;
    margin-top: 3%;
    cursor: pointer;
}

.banner-head-3 {
    text-align: center;
    font-size: 32px;
    color: #000;
    margin-top: 160px;
}

.banner-text-3 {
    text-align: center;
    color: #000;
    margin-top: 20px;
    line-height: 23px;
}

.banner-button-3 {
    border: 1px solid #000;
    padding: 15px;
    border-radius: 10px;
    margin-top: 50px;
    width: 200px;
    margin-left: 170px;
}

.banner-button-3:hover {
    background: #000;
    color: #fff;
    border: 1px solid #000;
    transition: .2s ease-in;
}

.banner-button-text-3 {
    text-align: center;
}

.banner-4 {
    background-color: #242424;
    width: 49%;
    height: 450px;
    margin-left: 3%;
    margin-top: 3%;
    border-radius: 30px;
    cursor: pointer;
}

.banner-head-4 {
    text-align: center;
    font-size: 32px;
    color: #e3e3e3;
    margin-top: 160px;
}

.banner-text-4 {
    text-align: center;
    color: #e3e3e3;
    margin-top: 20px;
    line-height: 23px;
}

.banner-button-4 {
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 10px;
    margin-top: 50px;
    width: 200px;
    margin-left: 170px;
}

.banner-button-4:hover {
    background-color: #000;
    border: 1px solid #000;
}

.banner-button-text-4 {
    color: #e3e3e3;
    text-align: center;
}

.banner-button-text-4:hover {
    color: #fff;
}

.events {
    font-size: 64px;
    font-weight: 800;
    margin-top: 100px;
}

.event-banner {
    height: 500px;
    width: 100%;
    background: #4d4dff;
    border-radius: 30px;
    display: grid;
    display: flex;
    padding-left: 64px;
    padding-right: 24px;
    cursor: pointer;
    margin-top: 20px;
}

.open-door {
    color: #e3e3e3;
    font-size: 20px;
    line-height: 24px;
    margin-top: 80px;
}

.event-title {
    font-size: 44px;
    line-height: 56px;
    color: #e3e3e3;
    margin-top: 50px;
    font-weight: 700;
}

.event-img {
    width: 458px;
    height: 412px;
    margin-left: 120px;
}

.event-button {
    border: 1px solid #e3e3e3;
    padding: 15px;
    border-radius: 10px;
    margin-top: 50px;
    width: 220px;
}

.event-button-text {
    color: #e3e3e3;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.event-button:hover {
    background-color: #000;
    border: 1px solid #000;
}

.event-button-text {
    color: #e3e3e3;
}

.steps {
    margin-top: 100px;
    font-size: 52px;
    line-height: 32px;
    font-weight: 800;
}

.video-block {
    margin-top: 50px;
    height: 320px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.video-block:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: background-color .3s ease-in-out;
    content: "";
}

.video-block__play {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    color: inherit;
    font: inherit;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    width: 56px;
    height: 56px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: .3s ease;
}

.video-block__preview {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transform: scale(1.14);
    transition: transform .3s ease-in-out;
}

.video-block__play svg {
    width: 100%;
    height: 100%;
}

.text-row {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
}

.col-1 {
    font-size: 22px;
    line-height: 32px;
}

.col-2 {
    font-size: 22px;
    line-height: 32px;
    margin-left: 300px;
}

.col-3 {
    font-size: 22px;
    line-height: 32px;
    margin-top: 50px;
}

.col-4 {
    font-size: 22px;
    line-height: 32px;
    margin-left: 320px;
    margin-top: 50px;
}

.reviews {
    margin-top: 100px;
    font-size: 52px;
    line-height: 32px;
    font-weight: 800;
}
